.cover {
  display: flex;
  align-items: center;
  /* justify-content: center; */
  background-color: #f9f9f9;
  z-index: 99999;
  padding: 20px 0;
}

.inner_cover {
  display: flex;
  margin-right: 130px;
  margin-left: 45px;
  /* margin-top: 30px; */
}

.navi_item {
  margin: 0 10px;
}
